.list {
  background: #0C1530;
  border-radius: 16px !important;
  border: 4px solid #C2932D;
  padding: 16px !important;
  min-height: 220px !important;
  width: 360px;
  height: 215px;
  box-shadow: 0 0 14px 0 rgba(54, 41, 183, 0.25);
}

.list > *:nth-child(1) {
  <svg xmlns="http://www.w3.org/2000/svg" width="114" height="24" viewBox="0 0 114 24" fill="none">
  <path d="M15.8605 4.63092C15.8605 3.36773 16.843 2.38525 18.1061 2.38525C19.3693 2.38525 20.3518 3.36773 20.3518 4.63092C20.3518 5.89411 19.3693 6.87659 18.1061 6.87659C16.843 6.87659 15.8605 5.89411 15.8605 4.63092Z" fill="#C2932D"/>
  <path d="M0 0V23.4392H2.94745V16.5618C2.94745 14.7372 2.94744 10.5266 6.73701 10.5266C9.68445 10.5266 10.1055 12.2108 10.1055 14.8776V23.5795H12.9126V14.5969C12.9126 10.9476 11.7898 8.0002 7.57913 8.0002C5.75453 8.0002 3.92992 8.84233 3.0878 10.5266V0H0Z" fill="white"/>
  <path d="M19.5097 8.28149H16.5623V23.4398H19.5097V8.28149Z" fill="white"/>
  <path d="M47.2994 16.2806V15.8596C47.2994 11.3682 45.0537 7.85938 40.2817 7.85938C35.3693 7.85938 32.9833 11.3682 32.9833 15.9999C32.9833 20.4913 35.7904 24.0001 40.4221 24.0001C43.3695 24.0001 46.0362 22.4562 47.4398 19.9299L45.0538 18.5263C43.9309 20.3509 42.8081 21.4738 40.5624 21.4738C37.7553 21.4738 36.0711 19.0877 36.0711 16.421H47.2994V16.2806ZM35.9307 14.035C36.3518 11.9297 38.036 10.2454 40.2817 10.2454C42.6677 10.2454 44.0713 11.7893 44.4923 14.035H35.9307Z" fill="white"/>
  <path d="M57.6856 10.386C56.8435 8.70172 55.44 7.71924 53.6153 7.71924C51.089 7.71924 49.124 9.6842 49.124 12.0702C49.124 14.1755 50.3872 15.0177 52.0715 15.8598L54.8785 17.4037C55.5803 17.8248 56.0014 18.2458 56.0014 19.0879C56.0014 20.3511 54.8785 21.1933 53.7557 21.1933C52.3522 21.1933 51.6504 20.3511 50.9486 19.2283L48.4222 20.3511C49.2644 22.4564 51.51 23.7196 53.6153 23.7196C56.4224 23.7196 58.8085 21.6143 58.8085 18.6669C58.8085 16.2809 57.1242 15.158 55.2996 14.3159C53.475 13.4738 51.7907 12.9124 51.7907 11.6492C51.7907 10.807 52.6329 10.1053 53.3346 10.1053C54.1768 10.1053 54.8785 10.6667 55.2996 11.3685L57.6856 10.386Z" fill="white"/>
  <path d="M31.8609 21.7561L31.5802 23.8615C31.4398 23.8615 31.2994 23.8615 31.0187 23.8615C30.738 23.8615 30.4573 23.8615 30.1766 23.8615C27.7906 23.8615 25.966 23.4404 24.7028 22.4579C23.4396 21.4754 22.8782 20.0719 22.8782 18.2473C22.8782 16.9841 23.0185 2.52759 23.0185 2.52759H25.6853V7.29964H32.0012V9.96637H25.6853C25.6853 10.2471 25.6853 16.8437 25.6853 17.6859C25.6853 19.0894 26.1063 20.0719 26.9485 20.7737C27.7906 21.3351 29.0538 21.7561 30.738 21.7561H31.4398C31.7205 21.7561 31.8609 21.7561 31.8609 21.7561Z" fill="white"/>
  <path d="M81.4127 8.2828L74.9975 23.758H70.8121L67.6551 11.4081C67.4635 10.6474 67.2968 10.3687 66.7139 10.0483C65.7628 9.52625 64.1912 9.03677 62.8085 8.73281L62.9024 8.2828H69.6396C70.4984 8.2828 71.2704 8.86079 71.4654 9.86066L73.1327 18.8154L77.2533 8.2828H81.4127ZM97.8121 18.7055C97.8289 14.6211 92.2261 14.3961 92.2646 12.5715C92.2766 12.0163 92.7995 11.4259 93.9441 11.2752C94.5115 11.2001 96.0746 11.1428 97.8475 11.9677L98.543 8.68611C97.5903 8.33647 96.3646 8 94.8394 8C90.9258 8 88.1716 10.1035 88.1484 13.1155C88.1231 15.3433 90.1142 16.5865 91.6143 17.3268C93.1576 18.0849 93.6754 18.5721 93.6696 19.2502C93.6586 20.2882 92.4387 20.7465 91.2986 20.7645C89.3086 20.7955 88.1537 20.2201 87.2332 19.7874L86.5156 23.1776C87.4407 23.6068 89.1483 23.9812 90.9187 24C95.0783 24 97.7993 21.9226 97.8121 18.7055ZM108.146 23.7582H111.808L108.612 8.2828H105.232C104.472 8.2828 103.831 8.73023 103.547 9.41814L97.6056 23.758H101.763L102.589 21.4463H107.669L108.147 23.758L108.146 23.7582ZM103.728 18.2748L105.812 12.4644L107.012 18.2748H103.729H103.728ZM87.0701 8.2828L83.796 23.758H79.8367L83.1121 8.2828H87.0701Z" fill="white"/>
  </svg>
  
}
.list .pan {
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
  margin-top: 14px !important;
}

.list .name,
.list .security-code,
.list .expiration-date {
  color: #ffffff !important;
  font-size: 14px !important;
  margin-top: 14px !important;
}

.label {
  color: #d6e8f8 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}
